#entrevistas {
    padding-top: 50px;
}

#entrevistasContainer {
    width: 80%;
    margin: auto;
}

#entrevistasContainer h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.hr {
    border-bottom: 1px;
    color: var(--primary);
    width: 85%;
}

.entrevistasText {
    display: flex;
    justify-content: center;
    align-items: center;
}

#work-in-progress {
    display: flex;
    width: 400px;
    height: auto;
    margin: 30px auto;
    margin-bottom: 100px;
}